Repository Ben987/Bondage-College, pull requests merged in 2021-11, with the labels that each got.

#3044 Bugfix: Wardrobe crash
  BondageClub/Scripts/Asset.js
  BondageClub/Scripts/Typedef.d.ts
Labels: fix

#3043 Feature: 3 new wing assets by Titania
  BondageClub/Assets/Female3DCG/Female3DCG.csv
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/LayerNames.csv
  BondageClub/Assets/Female3DCG/Wings/BeeWings_Bone.png
  BondageClub/Assets/Female3DCG/Wings/BeeWings_Veins.png
  BondageClub/Assets/Female3DCG/Wings/BeeWings_Wings.png
  BondageClub/Assets/Female3DCG/Wings/CyberWings_Base.png
  BondageClub/Assets/Female3DCG/Wings/CyberWings_Highlights.png
  BondageClub/Assets/Female3DCG/Wings/CyberWings_Shade.png
  BondageClub/Assets/Female3DCG/Wings/PixieWings_Veins.png
  BondageClub/Assets/Female3DCG/Wings/PixieWings_Wings.png
  BondageClub/Assets/Female3DCG/Wings/Preview/BeeWings.png
  BondageClub/Assets/Female3DCG/Wings/Preview/CyberWings.png
  BondageClub/Assets/Female3DCG/Wings/Preview/PixieWings.png
Labels: asset

#3045 Bugfix: Reverts changes to the `Hide` property made in #2972
  BondageClub/Assets/Female3DCG/Female3DCG.js
Labels: fix

#3046 Removed Floating Pixels on Steampunk Wings
  BondageClub/Assets/Female3DCG/Wings/SteampunkWings0_Gears.png
  BondageClub/Assets/Female3DCG/Wings/SteampunkWings1_Gears.png
  BondageClub/Assets/Female3DCG/Wings/SteampunkWings2_Gears.png
  BondageClub/Assets/Female3DCG/Wings/SteampunkWings_Gears.png
Labels: fix, asset

#3048 Removed Blank Lock Assets from corsets and added DrawLocks: false to them
  BondageClub/Assets/Female3DCG/Corset/Corset2_Lock.png
  BondageClub/Assets/Female3DCG/Corset/Corset3_Lock.png
  BondageClub/Assets/Female3DCG/Corset/Corset4_Lock.png
  BondageClub/Assets/Female3DCG/Corset/Corset5_Lock.png
  BondageClub/Assets/Female3DCG/Corset/Hogtied/Corset2_Lock.png
  BondageClub/Assets/Female3DCG/Corset/Hogtied/Corset3_Lock.png
  BondageClub/Assets/Female3DCG/Corset/Hogtied/Corset4_Lock.png
  BondageClub/Assets/Female3DCG/Corset/Hogtied/Corset5_Lock.png
  BondageClub/Assets/Female3DCG/Female3DCG.js
Labels: improvement, asset

#3050 Fixed Fur Gloves and Socks Colouring
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/Gloves/BackBoxTie/GlovesFur_Large_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/BackBoxTie/GlovesFur_Normal_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/BackBoxTie/GlovesFur_Small_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/BackBoxTie/GlovesFur_XLarge_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/BackCuffs/GlovesFur_Large_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/BackCuffs/GlovesFur_Normal_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/BackCuffs/GlovesFur_Small_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/BackCuffs/GlovesFur_XLarge_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/GlovesFur_Large_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/GlovesFur_Normal_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/GlovesFur_Small_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/GlovesFur_XLarge_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/TapedHands/GlovesFur_Large_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/TapedHands/GlovesFur_Normal_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/TapedHands/GlovesFur_Small_Fabric.png
  BondageClub/Assets/Female3DCG/Gloves/TapedHands/GlovesFur_XLarge_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/Hogtied/SocksFur_Large_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/Hogtied/SocksFur_Normal_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/Hogtied/SocksFur_Small_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/Hogtied/SocksFur_XLarge_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/Kneel/SocksFur_Large_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/Kneel/SocksFur_Normal_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/Kneel/SocksFur_Small_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/Kneel/SocksFur_XLarge_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/LegsClosed/SocksFur_Large_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/LegsClosed/SocksFur_Normal_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/LegsClosed/SocksFur_Small_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/LegsClosed/SocksFur_XLarge_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/SocksFur_Large_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/SocksFur_Normal_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/SocksFur_Small_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/SocksFur_XLarge_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/Spread/SocksFur_Large_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/Spread/SocksFur_Normal_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/Spread/SocksFur_Small_Fabric.png
  BondageClub/Assets/Female3DCG/Socks/Spread/SocksFur_XLarge_Fabric.png
Labels: asset, change

#3051 Fix typos in the pleasure panties' decrease message
  BondageClub/Screens/Character/Player/Dialog_Player.csv
Labels: fix

#3052 Fix: Updated masks for Super Thick ABDL Diapers
  BondageClub/Assets/Female3DCG/Female3DCG.js
Labels: asset, change

#3053 Revert Heavy Latex
  BondageClub/Assets/Female3DCG/Corset/OverTheHead/HeavyLatexCorset_Large.png
  BondageClub/Assets/Female3DCG/Corset/OverTheHead/HeavyLatexCorset_LargeStraps.png
  BondageClub/Assets/Female3DCG/Corset/OverTheHead/HeavyLatexCorset_Normal.png
  BondageClub/Assets/Female3DCG/Corset/OverTheHead/HeavyLatexCorset_NormalStraps.png
  BondageClub/Assets/Female3DCG/Corset/OverTheHead/HeavyLatexCorset_Small.png
  BondageClub/Assets/Female3DCG/Corset/OverTheHead/HeavyLatexCorset_SmallStraps.png
  BondageClub/Assets/Female3DCG/Corset/OverTheHead/HeavyLatexCorset_XLarge.png
  BondageClub/Assets/Female3DCG/Corset/OverTheHead/HeavyLatexCorset_XLargeStraps.png
  BondageClub/Assets/Female3DCG/Female3DCG.csv
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/ItemTorso/HeavyLatexCorset_Large.png
  BondageClub/Assets/Female3DCG/ItemTorso/HeavyLatexCorset_LargeStraps.png
  BondageClub/Assets/Female3DCG/ItemTorso/HeavyLatexCorset_Normal.png
  BondageClub/Assets/Female3DCG/ItemTorso/HeavyLatexCorset_NormalStraps.png
  BondageClub/Assets/Female3DCG/ItemTorso/HeavyLatexCorset_Small.png
  BondageClub/Assets/Female3DCG/ItemTorso/HeavyLatexCorset_SmallStraps.png
  BondageClub/Assets/Female3DCG/ItemTorso/HeavyLatexCorset_XLarge.png
  BondageClub/Assets/Female3DCG/ItemTorso/HeavyLatexCorset_XLargeStraps.png
  BondageClub/Assets/Female3DCG/ItemTorso/OverTheHead/HeavyLatexCorsetStraps_Lock.png
  BondageClub/Assets/Female3DCG/ItemTorso/OverTheHead/HeavyLatexCorset_Lock.png
  BondageClub/Assets/Female3DCG/ItemTorso/Preview/HeavyLatexCorset.png
Labels: asset

#3055 Refactor/Bugfix: Prevents self-blocking items
  BondageClub/Assets/Female3DCG/Female3DCGExtended.js
  BondageClub/Screens/Character/Appearance/Appearance.js
  BondageClub/Screens/Inventory/ItemArms/HempRope/HempRope.js
  BondageClub/Screens/Inventory/ItemFeet/HempRope/HempRope.js
  BondageClub/Screens/MiniGame/KinkyDungeon/KinkyDungeonRestraints.js
  BondageClub/Scripts/Dialog.js
  BondageClub/Scripts/ExtendedItem.js
  BondageClub/Scripts/Inventory.js
  BondageClub/Scripts/Struggle.js
  BondageClub/Scripts/Typedef.d.ts
  BondageClub/Scripts/Validation.js
Labels: refactor, fix

#3057 Feature: New Lampshade Hood item
  BondageClub/Assets/Female3DCG/Female3DCG.csv
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/ItemHood/LampHeadHood_Cord.png
  BondageClub/Assets/Female3DCG/ItemHood/LampHeadHood_Inside.png
  BondageClub/Assets/Female3DCG/ItemHood/LampHeadHood_Lamp.png
  BondageClub/Assets/Female3DCG/ItemHood/LampHeadHood_Switch.png
  BondageClub/Assets/Female3DCG/ItemHood/Preview/LampHeadHood.png
  BondageClub/Assets/Female3DCG/LayerNames.csv
  BondageClub/Screens/Character/Preference/Text_Preference.csv
Labels: asset

#3058 Changelog: R74 Beta 1
  BondageClub/CHANGELOG.md
  BondageClub/changelog.html
  BondageClub/index.html
Labels: changelog

#3059 Fix futuristic collar bug
  BondageClub/Screens/Character/Player/Dialog_Player.csv
  BondageClub/Screens/Inventory/Futuristic/Futuristic.js
  BondageClub/Screens/Inventory/ItemNeck/FuturisticCollar/FuturisticCollar.js
Labels: fix

#3060 Bugfix: Pilot Panties 404s
  BondageClub/Assets/Female3DCG/Female3DCG.js
Labels: fix, asset

#3071 Fixes the futuristic ball gag publish message
  BondageClub/Screens/Inventory/ItemMouth/FuturisticHarnessBallGag/FuturisticHarnessBallGag.js
  BondageClub/Screens/Inventory/ItemNeck/FuturisticCollar/FuturisticCollar.js
Labels: fix

#3062 Bugfix: Prevents 404s on `SuitLower` items in the `Horse` pose
  BondageClub/Assets/Female3DCG/Female3DCG.js
Labels: fix, asset

#3063 Bugfix: Display Frame graphical artefacts
  BondageClub/Assets/Female3DCG/ItemDevices/TheDisplayFrame.png
Labels: fix, asset

#3064 Beta Fix: Open-back chastity belts preventing `ItemButt` items from being used
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Scripts/Inventory.js
Labels: beta-fix

#3067 Increase difficulty of Irish 8 Cuffs
  BondageClub/Assets/Female3DCG/Female3DCG.js
Labels: change

#3068 Fix HeavyLatexCorset after being broken by @Shiranui-Izayoi
  BondageClub/Assets/Female3DCG/Female3DCGExtended.js
  BondageClub/Screens/Inventory/ItemTorso/HeavyLatexCorset/Normal.png
  BondageClub/Screens/Inventory/ItemTorso/HeavyLatexCorset/Straps.png
Labels: beta-fix, asset

#3069 Beta Fix: Prevents Kigurumi Mask from hiding `ItemHead` when in latex mode
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/Female3DCGExtended.js
Labels: beta-fix, asset

#3075 Added catsuit panties to panties slot
  BondageClub/Assets/Female3DCG/Female3DCG.csv
  BondageClub/Assets/Female3DCG/Female3DCG.js
Labels: asset

#3061 Changelog: R74 Beta 2
  BondageClub/CHANGELOG.md
  BondageClub/Screens/Character/Login/GameCredits.csv
  BondageClub/changelog.html
  BondageClub/index.html
Labels: changelog

#3076 Add some kneeling spread variants to the restraints
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/Female3DCGExtended.js
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/LeatherLegCuffs_Large_Cuffs.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/LeatherLegCuffs_Large_Rings.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/LeatherLegCuffs_Lock.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/LeatherLegCuffs_Normal_Cuffs.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/LeatherLegCuffs_Normal_Rings.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/LeatherLegCuffs_Small_Cuffs.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/LeatherLegCuffs_Small_Rings.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/LeatherLegCuffs_XLarge_Cuffs.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/LeatherLegCuffs_XLarge_Rings.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/OrnateLegCuffs_Large_Cuffs.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/OrnateLegCuffs_Large_Gems.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/OrnateLegCuffs_Lock.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/OrnateLegCuffs_Normal_Cuffs.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/OrnateLegCuffs_Normal_Gems.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/OrnateLegCuffs_Small_Cuffs.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/OrnateLegCuffs_Small_Gems.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/OrnateLegCuffs_XLarge_Cuffs.png
  BondageClub/Assets/Female3DCG/ItemLegs/KneelingSpread/OrnateLegCuffs_XLarge_Gems.png
Labels: beta-fix, asset

#3077 Open face hood (hood slot) update fix
  BondageClub/Assets/Female3DCG/Female3DCGExtended.js
  BondageClub/Screens/Character/Player/Dialog_Player.csv
Labels: beta-fix

#3079 Do ItemBoots from the kneeling spread pose
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/ItemBoots/KneelingSpread/HighThighBoots_Large.png
  BondageClub/Assets/Female3DCG/ItemBoots/KneelingSpread/HighThighBoots_Lock.png
  BondageClub/Assets/Female3DCG/ItemBoots/KneelingSpread/HighThighBoots_Normal.png
  BondageClub/Assets/Female3DCG/ItemBoots/KneelingSpread/HighThighBoots_Small.png
  BondageClub/Assets/Female3DCG/ItemBoots/KneelingSpread/HighThighBoots_XLarge.png
  BondageClub/Assets/Female3DCG/ItemBoots/KneelingSpread/ThighHighLatexHeels_Large.png
  BondageClub/Assets/Female3DCG/ItemBoots/KneelingSpread/ThighHighLatexHeels_Lock.png
  BondageClub/Assets/Female3DCG/ItemBoots/KneelingSpread/ThighHighLatexHeels_Normal.png
  BondageClub/Assets/Female3DCG/ItemBoots/KneelingSpread/ThighHighLatexHeels_Small.png
  BondageClub/Assets/Female3DCG/ItemBoots/KneelingSpread/ThighHighLatexHeels_XLarge.png
Labels: beta-fix

#3080 Beta fix: Fixes position of large Sleeveless Catsuit in `BackBoxtie` pose
  BondageClub/Assets/Female3DCG/Suit/BackBoxTie/SleevelessCatsuit_Large.png
Labels: beta-fix

#3083 Changelog: R74 Beta 3
  BondageClub/CHANGELOG.md
  BondageClub/changelog.html
  BondageClub/index.html
Labels: changelog

#3089 Bugfix: Duct Tape pose fixes
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/ItemArms/Horse/DuctTape_LargeExposedComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Horse/DuctTape_LargePetTape.png
  BondageClub/Assets/Female3DCG/ItemArms/Horse/DuctTape_NormalExposedComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Horse/DuctTape_NormalPetTape.png
  BondageClub/Assets/Female3DCG/ItemArms/Horse/DuctTape_SmallComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Horse/DuctTape_SmallExposedComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Horse/DuctTape_SmallPetTape.png
  BondageClub/Assets/Female3DCG/ItemArms/Horse/DuctTape_XLargeComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Horse/DuctTape_XLargeExposedComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Horse/DuctTape_XLargePetTape.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_Large.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_LargeBottom.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_LargeComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_LargeExposedComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_LargeFull.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_LargeTop.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_Normal.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_NormalBottom.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_NormalComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_NormalExposedComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_NormalFull.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_NormalTop.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_Small.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_SmallBottom.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_SmallComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_SmallExposedComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_SmallFull.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_SmallTop.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_XLarge.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_XLargeBottom.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_XLargeComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_XLargeExposedComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_XLargeFull.png
  BondageClub/Assets/Female3DCG/ItemArms/Kneel/DuctTape_XLargeTop.png
  BondageClub/Assets/Female3DCG/ItemArms/KneelingSpread/DuctTape_LargeExposedComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/KneelingSpread/DuctTape_LargePetTape.png
  BondageClub/Assets/Female3DCG/ItemArms/KneelingSpread/DuctTape_NormalExposedComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/KneelingSpread/DuctTape_NormalPetTape.png
  BondageClub/Assets/Female3DCG/ItemArms/KneelingSpread/DuctTape_SmallComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/KneelingSpread/DuctTape_SmallExposedComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/KneelingSpread/DuctTape_SmallPetTape.png
  BondageClub/Assets/Female3DCG/ItemArms/KneelingSpread/DuctTape_XLargeComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/KneelingSpread/DuctTape_XLargeExposedComplete.png
  BondageClub/Assets/Female3DCG/ItemArms/KneelingSpread/DuctTape_XLargePetTape.png
Labels: beta-fix, fix, asset

#3088 Beta fix: Only applies the `Chaste` effect on the Futuristic Chastity Belt when the front is closed
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/Female3DCGExtended.js
Labels: beta-fix

#3087 Bugfix: Correctly sets pose on the Metal Leg Spreader
  BondageClub/Assets/Female3DCG/Female3DCG.js
Labels: fix

#3086 Bugfix: Techno Collar default intensity
  BondageClub/Screens/Inventory/ItemNeck/TechnoCollar/TechnoCollar.js
Labels: fix

#3085 Fixed OpenFaceHood (mask slot) Fix
  BondageClub/Assets/Female3DCG/Female3DCGExtended.js
Labels: beta-fix

#3092 Fix training belt dialogue
  BondageClub/Screens/Character/Player/Dialog_Player.csv
Labels: beta-fix

#3090 Beta fix: Arousal preferences for mirrored groups
  BondageClub/Screens/Character/Preference/Preference.js
Labels: beta-fix, refactor, change

#3091 Changelog: R74 Release
  BondageClub/CHANGELOG.md
  BondageClub/changelog.html
  BondageClub/index.html
Labels: changelog

#3099 Bugfix: `TapedHands` 404s on the Sleeveless Catsuit
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/Suit/SleevelessCatsuit_Large.png
  BondageClub/Assets/Female3DCG/Suit/SleevelessCatsuit_Normal.png
  BondageClub/Assets/Female3DCG/Suit/SleevelessCatsuit_Small.png
  BondageClub/Assets/Female3DCG/Suit/SleevelessCatsuit_XLarge.png
Labels: fix, asset

#3098 Fix TargetMouthOpen prerequisite check
  BondageClub/Scripts/Activity.js
Labels: fix

#3097 Opaque Catsuit Remove Hide: ["ItemNipplesPiercings"]
  BondageClub/Assets/Female3DCG/Female3DCG.js
Labels: asset, change

#3096 New Item: Empty and filled glass
  BondageClub/Assets/Female3DCG/Female3DCG.csv
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/ItemHands/AllFours/SpankingToysGlassEmpty.png
  BondageClub/Assets/Female3DCG/ItemHands/AllFours/SpankingToysGlassFilled.png
  BondageClub/Assets/Female3DCG/ItemHands/BackBoxTie/SpankingToysGlassEmpty.png
  BondageClub/Assets/Female3DCG/ItemHands/BackBoxTie/SpankingToysGlassFilled.png
  BondageClub/Assets/Female3DCG/ItemHands/BackCuffs/SpankingToysGlassEmpty.png
  BondageClub/Assets/Female3DCG/ItemHands/BackCuffs/SpankingToysGlassFilled.png
  BondageClub/Assets/Female3DCG/ItemHands/BackElbowTouch/SpankingToysGlassEmpty.png
  BondageClub/Assets/Female3DCG/ItemHands/BackElbowTouch/SpankingToysGlassFilled.png
  BondageClub/Assets/Female3DCG/ItemHands/OverTheHead/SpankingToysGlassEmpty.png
  BondageClub/Assets/Female3DCG/ItemHands/OverTheHead/SpankingToysGlassFilled.png
  BondageClub/Assets/Female3DCG/ItemHands/Preview/SpankingToysGlassEmpty.png
  BondageClub/Assets/Female3DCG/ItemHands/Preview/SpankingToysGlassFilled.png
  BondageClub/Assets/Female3DCG/ItemHands/SpankingToysGlassEmpty.png
  BondageClub/Assets/Female3DCG/ItemHands/SpankingToysGlassFilled.png
  BondageClub/Assets/Female3DCG/ItemHands/Yoked/SpankingToysGlassEmpty.png
  BondageClub/Assets/Female3DCG/ItemHands/Yoked/SpankingToysGlassFilled.png
  BondageClub/Screens/Character/Player/Dialog_Player.csv
  BondageClub/Screens/Inventory/ItemHands/SpankingToys/GlassEmpty.png
  BondageClub/Screens/Inventory/ItemHands/SpankingToys/GlassFilled.png
  BondageClub/Screens/Inventory/ItemHands/SpankingToys/SpankingToy.js
Labels: asset

#3095 Fixed handheld items are displayed before/in the bouquet.
  BondageClub/Assets/Female3DCG/Female3DCG.js
Labels: asset, change

#3094 Changed how gagged kisses work
  BondageClub/Assets/Female3DCG/Female3DCG.js
Labels: change

#3093 Adding BlindHeavy back onto Ventless type for Locker
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Screens/Inventory/ItemDevices/Locker/Locker.js
Labels: fix

#3082 Player List Update Changes
  BondageClub/Screens/Online/ChatRoom/ChatRoom.js
  BondageClub/Screens/Online/ChatRoom/Commands.js
Labels: refactor, fix, change

#3081 Feature: Vibrating item archetype
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/Female3DCGExtended.js
  BondageClub/Screens/Inventory/ItemVulva/ClitoralStimulator/ClitoralStimulator.js
  BondageClub/Screens/Inventory/ItemVulva/FullLatexSuitWand/FullLatexSuitWand.js
  BondageClub/Screens/Inventory/ItemVulva/HempRopeBelt/HempRopeBelt.js
  BondageClub/Screens/Inventory/ItemVulva/VibratingDildo/VibratingDildo.js
  BondageClub/Screens/Inventory/ItemVulva/VibratingEgg/VibratingEgg.js
  BondageClub/Screens/Inventory/ItemVulva/VibratingLatexPanties/VibratingLatexPanties.js
  BondageClub/Screens/Inventory/ItemVulva/WandBelt/WandBelt.js
  BondageClub/Screens/Inventory/ItemVulva/WiredEgg/WiredEgg.js
  BondageClub/Scripts/Asset.js
  BondageClub/Scripts/Typedef.d.ts
  BondageClub/Scripts/VibratorMode.js
  BondageClub/index.html
Labels: feature, refactor

#3072 Feature: Image compression script
  .gitignore
  BondageClub/Tools/Node/gulpfile.js
  BondageClub/Tools/Node/package-lock.json
  BondageClub/Tools/Node/package.json
Labels: feature

#3100 Bugfix: Lock validation fixes
  BondageClub/Scripts/Validation.js
Labels: fix

#3101 Bugfix: Adds lover rules to the rules menu
  BondageClub/Screens/Character/Player/Dialog_Player.csv
  BondageClub/Scripts/Dialog.js
Labels: fix

#3102 Chat Search - Filter out rooms using keywords
  BondageClub/Screens/Character/Login/Login.js
  BondageClub/Screens/Online/ChatSearch/ChatSearch.js
  BondageClub/Screens/Online/ChatSearch/Text_ChatSearch.csv
  BondageClub/Scripts/Typedef.d.ts
Labels: feature

#3106 Added new Item: Pet Nose (Mask)
  BondageClub/Assets/Female3DCG/Female3DCG.csv
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/Female3DCGExtended.js
  BondageClub/Assets/Female3DCG/LayerNames.csv
  BondageClub/Assets/Female3DCG/Mask/PetNose_Cheeks.png
  BondageClub/Assets/Female3DCG/Mask/PetNose_CheeksBig.png
  BondageClub/Assets/Female3DCG/Mask/PetNose_CheeksNone.png
  BondageClub/Assets/Female3DCG/Mask/PetNose_CheeksSmall.png
  BondageClub/Assets/Female3DCG/Mask/PetNose_Gloss.png
  BondageClub/Assets/Female3DCG/Mask/PetNose_Nose.png
  BondageClub/Assets/Female3DCG/Mask/PetNose_NoseNone.png
  BondageClub/Assets/Female3DCG/Mask/PetNose_WhiskersLong.png
  BondageClub/Assets/Female3DCG/Mask/PetNose_WhiskersNone.png
  BondageClub/Assets/Female3DCG/Mask/PetNose_WhiskersShort.png
  BondageClub/Assets/Female3DCG/Mask/Preview/PetNose.png
  BondageClub/Screens/Character/Player/Dialog_Player.csv
  BondageClub/Screens/Inventory/Mask/PetNose/c0.png
  BondageClub/Screens/Inventory/Mask/PetNose/c1.png
  BondageClub/Screens/Inventory/Mask/PetNose/c2.png
  BondageClub/Screens/Inventory/Mask/PetNose/m0.png
  BondageClub/Screens/Inventory/Mask/PetNose/m1.png
  BondageClub/Screens/Inventory/Mask/PetNose/n0.png
  BondageClub/Screens/Inventory/Mask/PetNose/n1.png
  BondageClub/Screens/Inventory/Mask/PetNose/w0.png
  BondageClub/Screens/Inventory/Mask/PetNose/w1.png
  BondageClub/Screens/Inventory/Mask/PetNose/w2.png
Labels: asset

#3107 Bugfix: `KneelingSpread` pose for Sleeveless Wedding Dress
  BondageClub/Assets/Female3DCG/Cloth/KneelingSpread/WeddingDress2_Large.png
  BondageClub/Assets/Female3DCG/Cloth/KneelingSpread/WeddingDress2_Normal.png
  BondageClub/Assets/Female3DCG/Cloth/KneelingSpread/WeddingDress2_Small.png
  BondageClub/Assets/Female3DCG/Cloth/KneelingSpread/WeddingDress2_XLarge.png
Labels: fix, asset

#3108 3DCG pose update
  BondageClub/Assets/Female3DCG/BodyUpper/3DCGPose/AllFours.tdcgpose.png
  BondageClub/Assets/Female3DCG/BodyUpper/3DCGPose/BackBoxTie.tdcgpose.png
  BondageClub/Assets/Female3DCG/BodyUpper/3DCGPose/BackCuffs.tdcgpose.png
  BondageClub/Assets/Female3DCG/BodyUpper/3DCGPose/BackElbowTouch.tdcgpose.png
  BondageClub/Assets/Female3DCG/BodyUpper/3DCGPose/LegsClosed.tdcgpose.png
  BondageClub/Assets/Female3DCG/BodyUpper/3DCGPose/OverTheHead.tdcgpose.png
  BondageClub/Assets/Female3DCG/BodyUpper/3DCGPose/Regular.tdcgpose.png
  BondageClub/Assets/Female3DCG/BodyUpper/3DCGPose/Yoked.tdcgpose.png
Labels: asset

#3109 Feature: Fuzzy Boots & Fuzzy Dress
  BondageClub/Assets/Female3DCG/Cloth/FuzzyDress_Large_BottomFur.png
  BondageClub/Assets/Female3DCG/Cloth/FuzzyDress_Large_Dress.png
  BondageClub/Assets/Female3DCG/Cloth/FuzzyDress_Large_TopFur.png
  BondageClub/Assets/Female3DCG/Cloth/FuzzyDress_Normal_BottomFur.png
  BondageClub/Assets/Female3DCG/Cloth/FuzzyDress_Normal_Dress.png
  BondageClub/Assets/Female3DCG/Cloth/FuzzyDress_Normal_TopFur.png
  BondageClub/Assets/Female3DCG/Cloth/FuzzyDress_Small_BottomFur.png
  BondageClub/Assets/Female3DCG/Cloth/FuzzyDress_Small_Dress.png
  BondageClub/Assets/Female3DCG/Cloth/FuzzyDress_Small_TopFur.png
  BondageClub/Assets/Female3DCG/Cloth/FuzzyDress_XLarge_BottomFur.png
  BondageClub/Assets/Female3DCG/Cloth/FuzzyDress_XLarge_Dress.png
  BondageClub/Assets/Female3DCG/Cloth/FuzzyDress_XLarge_TopFur.png
  BondageClub/Assets/Female3DCG/Cloth/Preview/FuzzyDress.png
  BondageClub/Assets/Female3DCG/Cloth/Yoked/FuzzyDress_Large_TopFur.png
  BondageClub/Assets/Female3DCG/Cloth/Yoked/FuzzyDress_Normal_TopFur.png
  BondageClub/Assets/Female3DCG/Cloth/Yoked/FuzzyDress_Small_TopFur.png
  BondageClub/Assets/Female3DCG/Cloth/Yoked/FuzzyDress_XLarge_TopFur.png
  BondageClub/Assets/Female3DCG/Female3DCG.csv
  BondageClub/Assets/Female3DCG/Female3DCG.js
  BondageClub/Assets/Female3DCG/LayerNames.csv
  BondageClub/Assets/Female3DCG/Shoes/FuzzyBoots_Heels.png
  BondageClub/Assets/Female3DCG/Shoes/FuzzyBoots_Large_Boots.png
  BondageClub/Assets/Female3DCG/Shoes/FuzzyBoots_Large_Fur.png
  BondageClub/Assets/Female3DCG/Shoes/FuzzyBoots_Normal_Boots.png
  BondageClub/Assets/Female3DCG/Shoes/FuzzyBoots_Normal_Fur.png
  BondageClub/Assets/Female3DCG/Shoes/FuzzyBoots_Small_Boots.png
  BondageClub/Assets/Female3DCG/Shoes/FuzzyBoots_Small_Fur.png
  BondageClub/Assets/Female3DCG/Shoes/FuzzyBoots_XLarge_Boots.png
  BondageClub/Assets/Female3DCG/Shoes/FuzzyBoots_XLarge_Fur.png
  BondageClub/Assets/Female3DCG/Shoes/LegsClosed/FuzzyBoots_Heels.png
  BondageClub/Assets/Female3DCG/Shoes/LegsClosed/FuzzyBoots_Large_Boots.png
  BondageClub/Assets/Female3DCG/Shoes/LegsClosed/FuzzyBoots_Large_Fur.png
  BondageClub/Assets/Female3DCG/Shoes/LegsClosed/FuzzyBoots_Normal_Boots.png
  BondageClub/Assets/Female3DCG/Shoes/LegsClosed/FuzzyBoots_Normal_Fur.png
  BondageClub/Assets/Female3DCG/Shoes/LegsClosed/FuzzyBoots_Small_Boots.png
  BondageClub/Assets/Female3DCG/Shoes/LegsClosed/FuzzyBoots_Small_Fur.png
  BondageClub/Assets/Female3DCG/Shoes/LegsClosed/FuzzyBoots_XLarge_Boots.png
  BondageClub/Assets/Female3DCG/Shoes/LegsClosed/FuzzyBoots_XLarge_Fur.png
  BondageClub/Assets/Female3DCG/Shoes/Preview/FuzzyBoots.png
  BondageClub/Assets/Female3DCG/Shoes/Spread/FuzzyBoots_Heels.png
  BondageClub/Assets/Female3DCG/Shoes/Spread/FuzzyBoots_Large_Boots.png
  BondageClub/Assets/Female3DCG/Shoes/Spread/FuzzyBoots_Large_Fur.png
  BondageClub/Assets/Female3DCG/Shoes/Spread/FuzzyBoots_Normal_Boots.png
  BondageClub/Assets/Female3DCG/Shoes/Spread/FuzzyBoots_Normal_Fur.png
  BondageClub/Assets/Female3DCG/Shoes/Spread/FuzzyBoots_Small_Boots.png
  BondageClub/Assets/Female3DCG/Shoes/Spread/FuzzyBoots_Small_Fur.png
  BondageClub/Assets/Female3DCG/Shoes/Spread/FuzzyBoots_XLarge_Boots.png
  BondageClub/Assets/Female3DCG/Shoes/Spread/FuzzyBoots_XLarge_Fur.png
Labels: asset
